.App {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  position: relative;
}

@media (min-width: 100vw) {
  .container {
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
  }
}

html {
  margin: 0;
}

body {
  width: 100%;
  margin-right: 0;
  margin-left: auto;
  padding: 0;
  height: 100vh;
  position: relative;
  background-color: black;
  overflow-x: hidden;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.next-segment {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.background-overlay {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./foto/welcomepagegif.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(4px);
  opacity: 0.7;
}

#containerMain {
  color: #ffffff;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#MainBody {
  background-color: #f8f7f3;
}

h1 {
  font-size: 100px;
}

#next-segment {
  width: 100%;
  z-index: 2;
  margin: 0;
  padding: 0;
}

#firstSegment {
  position: relative;
  margin: 70px 0 0 0;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: none;
  z-index: 1;
}

#navbar1 {
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 3px 8px 0px rgba(0, 0, 0, 0.52);
  background-color: black;
  padding: 5px 20px;
}

#navigation {
  align-items: center;
}

#navigation a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

#navigation a:hover {
  background-color: #f0f0f0;
  color: #555;
}

#navbar2 {
  position: relative;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f8f7f3;
  color: black;
  z-index: 999;
  transition:
    background-color 0.3s,
    color 0.3s;
}

#navigation2 {
  width: 100%;
  background-color: white;
  color: black;
  position: sticky;
  top: 53px;
  z-index: 999;
}

#navigation2 a {
  color: black;
  text-decoration: none;
  padding: 15px;
  border-radius: 4px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

#navbar2 a {
  position: relative;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  transition: color 0.3s;
}

#navbar2 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  transition:
    background-color 0.3s,
    width 0.3s;
}

#navbar2 a:hover::after {
  background-color: black;
  width: 100%;
}

#explore {
  color: gold;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

#explore:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes small {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(0);
  }
}

#explore:focus {
  animation: small 1s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes rainbow {
  0% {
    color: red;
  }
  10% {
    color: orange;
  }
  20% {
    color: yellow;
  }
  30% {
    color: green;
  }
  40% {
    color: blue;
  }
  50% {
    color: indigo;
  }
  60% {
    color: violet;
  }
  70% {
    color: red;
  }
  80% {
    color: orange;
  }
  90% {
    color: yellow;
  }
  100% {
    color: red;
  }
}

#bali {
  animation: rainbow 10s infinite;
  font-size: 90px;
}

#kotak1 {
  text-align: justify;
}

#balipng {
  width: 400px;
}

#hellobali {
  height: 40px;
  border-radius: 10px;
}

#headerimg {
  max-height: 600px;
  object-fit: cover;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.embed-responsive .embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.sizedcard {
  min-height: 300px;
  min-width: 300px;
  margin-right: 5px;
}

#imagewisata {
  width: 100px;
}

.ccard {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  max-height: 80%;
  object-fit: cover;
}

.card .card-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0.5;
}

.card .card-footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .card-footer .wisata-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wisata-container {
  width: 100%;
}

.wisata-scroll {
  display: flex;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
}

.wisata-item {
  margin: 10px;
}

.wisata-item img {
  width: 300px;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.wisata-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.wisata-detail h3,
.wisata-detail p {
  color: #fff;
}

.wisata-detail img {
  width: 300px;
  border-radius: 10px;
}

#footerlogo {
  width: 50px;
  margin: 0 10px 10px 10px;
}

.food-item img {
  width: 400px;
  height: auto;
  cursor: pointer;
  max-width: 100%;
  border-radius: 8px;
  opacity: 1;
  z-index: -1;
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.food-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.food-card-details {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  z-index: 10;
  width: 100%;
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transform: scale(0.95);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.2s ease-in-out;
}

.food-card-details.visible {
  opacity: 1;
  transform: scale(1);
}

.food-card-details h2 {
  margin-top: 0;
}

.food-card-details p {
  margin: 0.5em 0;
}

.food-item:hover img {
  /*opacity: 0.4;   ---->  ini kalo mau pas hover jadi agak putih doang yang bawah bikin lebih gede*/
  position: relative;
  opacity: 1;
  transform: scale(1.1);
  z-index: 2;
}

.card-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.card-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.card-details {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-left: 10px;
  text-align: left;
  flex: 1;
  height: 500px;
  overflow-y: auto;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 1s infinite;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#balinese {
  content: "";
  display: inline-block;
  width: 100%;
  overflow: hidden;
  border-right: 0.15em solid orange;
  animation:
    typing-forwards var(--typing-duration) steps(30, end) infinite alternate,
    border-disappear 1s steps(1) infinite;
  animation-delay: 2s;
  color: inherit;
  white-space: nowrap;
}

#balinese::after {
  content: "";
  display: inline-block;
  width: 100%;
  overflow: hidden;
  border-right: 0.15em solid orange;
  animation:
    typing-reverse var(--typing-duration) steps(30, end) infinite alternate,
    border-disappear 1s steps(1) infinite;
  animation-delay: 2s;
  color: inherit;
  white-space: nowrap;
}

@keyframes border-disappear {
  0% {
    border-right-color: orange;
  }
  50% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: orange;
  }
}

@keyframes typing-forwards {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes typing-reverse {
  from {
    width: 60%;
  }
  to {
    width: 0%;
  }
}

#wonderful {
  width: 200px;
}

.lower-opacity {
  opacity: 0.4;
  animation: opacity 0.6s ease;
}

.souvenir-item {
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.souvenir-item p {
  margin-top: 10px;
  font-weight: bold;
  background-color: #f8f7f3;
  border-radius: 8px;
  opacity: 0.8;
  padding: 5px;
}

.souvenir-card-details {
  background-color: #f8f7f3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  margin: 20px auto;
}

.souvenir-card-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.souvenir-card-details p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0;
}

.souvenir-item[data-category="Snack"] {
  background-image: url("./foto/snack.jpeg");
  background-size: cover;
  background-position: center;
}

.souvenir-item[data-category="Coffee"] {
  background-image: url("./foto/coffee.jpg");
  background-size: cover;
  background-position: center;
}

.hotel-item img {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}

.hotel-item {
  box-shadow: 3px 2px 7px 0.5px rgba(0, 0, 0, 0.32);
}

#hotelcards {
  height: 500px;

  overflow-y: auto;
}

#hotelsearch {
  height: 400px;
  min-width: 200px;
  overflow-y: auto;
}

#searchboxhotel {
  box-shadow: 3px 2px 7px 0.5px rgba(0, 0, 0, 0.32);
}

#hotelsearchresult {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.rating {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.star {
  color: #ffc107;
  font-size: 3vh;
  margin-right: 1px;
}
#searchmap {
  overflow: hidden;
}

#websitesearch {
  word-wrap: break-word;
}

.currency-dropdown {
  max-width: 500px;
}

#embedyoutube {
  scale: 90%;
  box-shadow: 4px 3px 8px 2px rgba(0, 0, 0, 0.52);
  border-radius: 20px;
}

#souvenirimg {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
}

.souvenir-scroll {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
}

.wisata-scroll {
  white-space: nowrap;
  overflow-x: scroll;
  position: relative;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.wisata-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#map {
  border-radius: 15px;
}

/* INI PUNYA PATRICK (mau gw masukin ke sttyle dengan nama yang sama) */

/* General transition for pop-ups */
.popup-content {
  opacity: 0;
  transform: scale(0.95);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.popup-content.visible {
  opacity: 1;
  transform: scale(1);
}

/* Transition for wisata-card-details */
.wisata-card-details {
  opacity: 0;
  transform: scale(0.95);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.wisata-card-details.visible {
  opacity: 1;
  transform: scale(1);
}

/* Transition for souvenir-card-details */
.souvenir-card-details {
  opacity: 0;
  transform: scale(0.95);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.souvenir-card-details.visible {
  opacity: 1;
  transform: scale(1);
}

/* INI PUNYA PATRICK */

#awardsimg {
  width: 300px;
  border-right: 2px solid rgba(235, 235, 235, 255);
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#awardsbanner {
  max-width: 700px;
  box-shadow: 4px 3px 8px 0px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
  transform: translateX(-30%);
}

#awardsbanner.visible {
  transform: translateX(0%);
  animation: fadeIn 1s ease-out forwards;
  transition: transform 2s ease-out;
}

#aclick {
  text-decoration: none;
  color: gold;
  font-weight: bold;
  transition: color 0.5s ease;
}

#aclick:hover {
  color: red;
  transition: color 0.5s ease;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 1s ease-out,
    transform 1s ease-out;
}

.visibleY {
  opacity: 1;
  transform: translateY(0);
}

.left-aligned {
  text-align: justify;
  margin-bottom: 20px; /* Add some spacing between the paragraphs if needed */
  padding-right: 500px;
  font-size: 25px;
}

.right-aligned {
  direction: rtl;
  text-align: justify;
  padding-left: 500px;
  font-size: 25px;
}

#yapcontent1 {
  padding-right: 100px;
  padding-bottom: 20px;
  padding-top: 20px;
}
#yapcontent2 {
  padding-left: 100px;
}

#foodcontent {
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: justify;
  font-size: 20px;
}

#imgdestination1 {
  display: block;
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: 4px 3px 8px 0px rgba(0, 0, 0, 0.32);
}
#imgdestination2 {
  display: block;
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: 4px 3px 8px 0px rgba(0, 0, 0, 0.32);
}

#content1 {
  padding-left: 300px;
  padding-right: 100px;
  text-align: justify;
  font-size: 30px;
  display: flex;
  align-items: center; /* Vertically centers the text */
  border-left: 6px solid black;
  padding-left: 100px;
}

#content2 {
  padding-left: 100px;
  padding-right: 100px;
  text-align: justify;
  font-size: 30px;
  display: flex;
  align-items: center;
  border-right: 6px solid black;
  padding-left: 100px;
}

#content3 {
  padding-left: 200px;
  font-size: 20px;
}

#content4 {
  padding-right: 100px;
  text-align: center;
  font-size: 20px;
  padding-left: 100px;
}

.transparent-content {
  color: white;
  background-image: linear-gradient(
      to bottom,
      white,
      transparent 20%,
      transparent 80%,
      white
    ),
    url("./foto/transparentbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 1000px;
}

.wisatatext {
  position: relative;
  bottom: 45px;
  left: 16px;
  font-size: 18px;
  z-index: 10;
}

#wisataimagetext {
  z-index: 9;
}

/* Add these styles to your styles.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Existing styles */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card-img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin: 10px 0;
  font-size: 18px;
}

.card-content p {
  margin: 5px 0;
  color: #555;
}

.card-content a {
  color: #007bff;
  text-decoration: none;
}

.card-content a:hover {
  text-decoration: underline;
}

#map2 {
  border-radius: 15px;
}
